@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* variables */
:root
{
    --theme-color: #6D32A4;
    --link_hover: #8e63b7;
    --button_color: #AE41B2;
    --title_font-size: 3rem
}


html
{
    font-size: 62.5%;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Lato", sans-serif;
}

.navbar
{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.logoimg
{
    width: 50px;
}

.navbar ul
{
    display: flex;
    align-items: center;
    gap: 4rem;
    list-style-type: none;
}

.navbar ul li
{
    font-size: 1.6rem;
    
    font-family: "Poppins",sans-serif;
}

.navbar ul li a
{
    text-decoration: none;
    transition: 0.4s ease;
}

.navbar ul li a:hover
{
    color: #8e63b7;
    font-size: 1.7rem;
    text-decoration:overline;
}

.button
{
    background-color: var(--button_color);
    color: white;
    font-size: 1.6rem;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease;
}

.button:hover
{
    background-color: #6d32a4;
    cursor: pointer;
}

.hero
{
    height: calc(100vh - 80px);
    overflow: hidden;
    position: relative;
}

.hero img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.hero h1
{
    position: absolute;
    left: 50%;
    top: 4rem;
    z-index: 2;
    transform: translate(-50%, -50%);
    font-size: clamp(2.5rem,2.5vw,5rem);
    color: rgb(255, 255, 255);
    font-family: "Poppins",sans-serif;
    font-weight: 500;
}

.info
{
    padding-top: 4rem;
    width: 100%;
}

.intro
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro h1
{
    font-size: 3rem;
    color: var(--theme-color);
}

.intro article
{
    padding:2rem 0;
    width: 50%;
    font-size: 1.7rem;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

.quote
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.5rem;
    padding: 3rem 0;
}



.quote article
{
    width: 60%;
    font-style: italic;
}

.quote span
{
    font-style: normal;
}

.quote article:nth-child(2)
{
    text-align: right;
}

.quote article:nth-child(4)
{
    text-align: right;
}

.content
{
    padding: 3rem 8rem;
    background: linear-gradient(to bottom, #3B1E55 51%, #8241BB 100%);
    
}

.content h1
{
    font-weight: 400;
    color: white;
    font-family: "Poppins", sans-serif;
}

.albums
{
    font-size: 2.2rem;
}

.albumimg
{
    padding: 2rem 0;
    gap: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#secondsection
{
    margin-top: 4rem;
}

#thirdsection
{
    margin-top: 4rem;
}

footer
{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    padding: 3rem 0;
    flex-wrap: wrap;
}

.policy
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.policy h1
{
    font-size: 2.5rem;
}

.policy ul
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.policy ul li
{
    list-style-type: none;
    font-size: 1.6rem;
}

.policy a
{
    text-decoration: none;
    color: white;
    transition: 0.4s ease;
}

.policy a:hover
{
    color: var(--link_hover);
}

.design
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.design img
{
    width: 80px;
}

.credit
{
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: center;
    background-color: black;
    color: white;
    word-spacing: 3px;
    padding: 1.5rem 0;
}

.socials
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.icons
{
    display: flex;
    gap: 3rem;
    font-size: 2rem;
}

.icons a
{
    color: white;
}
nav .fa-solid
{
    display: none;
}


@media screen and (max-width:720px)
{
    
    .navbar ul
    {
        display: none;
    }

    nav .fa-solid
    {
        display: inherit;
        font-size: 1.8rem;
    }

    .info article
    {
        width: 80%;
    }

    .content
    {
        padding: 2rem 3rem;
    }

    .albumimg
    {
        gap: 4.5rem;
    }
}

@media screen and (max-width:480px)
{
    .albumimg img
    {
        width: 8rem;
    }

    .albumimg
    {
        gap: 2rem;
    }

    .content
    {
        padding: 1rem;
    }


    .content h1
    {
        font-size: 2rem;
    }

    .intro a
    {
        width: 70%;
        display: flex;
        justify-content: center;
    }

    #learnmore
    {
        width: 100%;
    }

    footer
    {
        gap: 3rem;
    }

    .hero h1
    {
        font-size: 1.5rem;
    }
}


