@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* variables */
:root
{
    --theme-color: #6D32A4;
    --link_hover: #8e63b7;
    --button_color: #AE41B2;
    --title_font-size: 3rem
}


html
{
    font-size: 62.5%;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Lato", sans-serif;
}

.navbar
{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.logoimg
{
    width: 50px;
}

.navbar ul
{
    display: flex;
    align-items: center;
    gap: 4rem;
    list-style-type: none;
}

.navbar ul li
{
    font-size: 1.6rem;
    
    font-family: "Poppins",sans-serif;
}

.navbar ul li a
{
    text-decoration: none;
    transition: 0.4s ease;
}

.navbar ul li a:hover
{
    color: #8e63b7;
    font-size: 1.7rem;
    text-decoration:overline;
}

.button
{
    background-color: var(--button_color);
    color: white;
    font-size: 1.6rem;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease;
}

.button:hover
{
    background-color: #6d32a4;
    cursor: pointer;
}

nav .fa-solid
{
    display: none;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1
{
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 1rem;
    word-spacing: 4px;
}
